/*Variables*/
:root {
	--primary-color: #247ff5;
	--dark-color: #343a40;
	--light-color: #42e6f5;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #ffffff;
	color: #000000;
}

a {
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

p {
	word-break: break-word;
}

img {
	width: 7rem;
	height: 7rem;
}

hr {
	background: #000000;
	width: 100%;
}


/*Utilities*/
.btn {
	display: inline-block;
	background: #000000;
	color: #ffffff;
	padding: 0.4rem 1.3rem;
	cursor: pointer;
	margin-right: 0.5rem;
	outline: none;
	border: none;
}

.container {
	padding: 0 4rem;
	margin-top: 6rem;
}

.full {
	height: 100vh;
}

.alert {
	padding: 0.8rem;
	margin: 1rem;
	opacity: 0.9;
	color: #fff;
	background: #333;
	position: fixed;
	top: 4rem;
	left: 4rem;
	width: 86%;
}

.center {
	text-align: center;
}

.spinner {
	display: "block";
	width: 100%;
	height: 30rem;
}

/*Navbar*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: var(--dark-color);
}

/*Landing*/

.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 6rem;
	padding: 0 4rem;
}

/*Form*/
.form .form-group {
	margin: 1.2rem 0;
}

.form input[type='text'],
.form input[type='password'],
.form textarea,
.form select {
	width: 100%;
	padding: 0.4rem;
	font-size: 1rem;
	border: 1px solid #ccc;
}

.form input[type='date'] {
	border: 1px solid #ccc;
	display: inline;
	margin: 0 0.2rem 0 0;
}

.form input[type='submit'],
button {
	font: inherit;
}

/*Project*/
.project {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	color: #333333;
	background: #ebe7e7;
	margin: 1rem 0 2rem 0;
	border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
	height: 10rem;
}

.project-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	font-size: 0.8rem;
	margin: 0.5rem 2rem;
}

.project-name {
	font-size: 1.5rem;
}

.project-button {
	cursor: pointer;
	background: #ffffff;
	padding: 0.5rem;
	display: block;
	border: 1px solid #000000;
	border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
	height: 2.5rem;
	margin: 0 1rem 0 0;
}

/*Project Tasks*/

.project-task {
	display: flex;
	justify-content: space-between;
}

.project-task-category {
	padding: 1rem;
	text-align: center;
	width: 20rem;
	height: 4rem;
	border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.project-task-item {
	text-align: center;
	border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
	margin: 0.5rem 0rem;
	padding: 0rem 0rem 0.5rem 0rem;
}

/*Footer*/
.footer {
	background-color: #2c292f;
	color: #ebd234;
	width: 100%;
	font-family: sans-serif;
	font-size: 1rem;
	padding: 50px 50px 60px 50px;
	display: flex;
	align-items: center;
}

.footer .item {
	margin-right: 0.5rem;
}

.footer a {
	color: #ebd234;
}

.footer a:hover {
	color: var(--primary-color);
}

/*Font sizing*/
.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.lead {
	font-size: 1.5rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

/*Margin*/
.my-1 {
	margin: 1rem 0;
}

/*Padding*/
.p {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

/*Width*/
.w-15 {
	width: 15rem;
}

/*Color changing*/
.bg-dark {
	background: var(--dark-color);
}

.bg-light {
	background: var(--light-color);
}

.bg-primary {
	background: var(--primary-color);
}

.bg-danger {
	background: var(--danger-color);
}

.bg-success {
	background: var(--success-color);
}

.bg-gray {
	background: #d6cfcf;
}

.bg-yellow {
	background: #ebd234;
}

.bg-light-blue {
	background: #189b94;
}

.dark {
	color: var(--dark-color);
}

.light {
	color: var(--light-color);
}

.danger {
	color: var(--danger-color);
}

.success {
	color: var(--success-color);
}

.gray {
	color: #a59898;
}

.white {
	color: #ffffff;
}

@media (max-width: 500px) {
    .hide-mobile {
		display: none;
	}

	.full {
		height: 90vh;
	}

	.alert {
		top: 4rem;
		left: 1rem;
	}

	.x-large {
		font-size: 2rem;
	}

	.project h4 {
		font-size: 0.75rem;
	}

	.project-1 {
		margin: 0rem;
		grid-gap: 1rem;
	}

	.project-task {
		display: grid;
		align-items: center;
		justify-content: center;
	}

	.project-task-category {
		margin: 0rem 0rem 0.2rem 0rem;
	}

}

@media (min-height: 600px) {
	.footer {
		position: fixed;
		bottom: 0;
	}

	.full {
		height: 100%;
	}
}
