<NotAuthorized *ngIf="!isAuthenticated"></NotAuthorized>
<div *ngIf="isAuthenticated">
    <Alert></Alert>
    <section class="container">
        <h1 class="large primary my-1">Create Project Task Form</h1>
        <p class="lead">
            <i class="fas fa-plus"></i>
            <span class="hide-mobile"> Create A New Project Task</span>
        </p>
        <form class="form" #createProjectTaskForm="ngForm" (submit)="onSubmit(createProjectTaskForm)">
            <div class="form-group">
                <input 
                    type="text" 
                    placeholder="Project Task summary" 
                    name="summary"
                    ngModel
                />
            </div>
            <div class="form-group">
                <textarea
                    placeholder="Acceptance Criteria"
                    cols="30"
                    rows="5"
                    name="criteria"
                    ngModel>
                </textarea>
            </div>
            <div class="form-group">
                <span>Due Date: </span>
                <input
                    type="date"
                    name="due"
                    ngModel
                />
            </div>
            <div class="form-group">
                <select name="priority" ngModel>
                    <option value="">Select Priority</option>
                    <option value="HIGH">HIGH</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="LOW">LOW</option>
                </select>
            </div>
            <div class="form-group">
                <select name="status" ngModel>
                    <option value="">Select Status</option>
                    <option value="TO DO">TO DO</option>
                    <option value="IN PROGRESS">IN PROGRESS</option>
                    <option value="DONE">DONE</option>
                </select>
            </div>
            <input type="submit" class="my-1 btn bg-primary" />
        </form>
    </section>
</div>
