<footer class="footer hide-mobile">
    <div class="item">
        <span>Author: Vincent Yang</span>
        <p class="footer-links">
            <a href="https://vincent-yang.com">Personal Website</a>
            <span> | </span>
            <a href="https://github.com/Yangv19">Github</a>
        </p>
    </div>
    <div class="item">    
        <div>
            <i class="fa fa-phone"></i>
            <span> 647-636-3461</span>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <span> v6yang@uwaterloo.ca</span>
        </div>
    </div>
</footer>
